In [209]:
import pandas as pd
import numpy as np
import re

pd.set_option('display.max_columns', None) # Mostrar todas as colunas ao exibir DataFrames
pd.set_option('display.max_colwidth', 50) # N√£o truncar o conte√∫do das colunas ao exibir DataFrames
pd.set_option('display.float_format', '{:.2f}'.format) #Formato dos numeros


#Carregar o dataset CEAPS - carrega somente um Dataset

# df = pd.read_csv('despesa_ceaps_2022.csv',
#     sep=';',
#     encoding='latin-1',
#     skiprows=1
# )
# print("Dataset carregado com sucesso")

#Para carregar quantos datasets quiser = forma automatica


anos = [2019, 2020, 2021, 2022]
lista_dfs = []

for ano in anos:
    arquivo = f'despesa_ceaps_{ano}.csv'
    df_ano = pd.read_csv(arquivo, sep=';', encoding='latin-1', skiprows=1)
    lista_dfs.append(df_ano)
    print(f"‚úÖ {ano}: {len(df_ano):,} registros")

df = pd.concat(lista_dfs, ignore_index=True)
print(f"\nüìä Total: {len(df):,} registros")

‚úÖ 2019: 21,634 registros
‚úÖ 2020: 14,090 registros
‚úÖ 2021: 16,827 registros
‚úÖ 2022: 16,805 registros

üìä Total: 69,356 registros

In [210]:
print(f'Linhas: {df.shape[0]:,}')
print(f'Colunas: {df.shape[1]}')

Linhas: 69,356
Colunas: 11

In [211]:
df.head(10)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2019,1,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",05.914.650/0001-66,ENERGISA,006582758,04/01/2019,Despesa com pagamento de energia el√©trica do e...,"66,02",2116543
1,2019,1,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",05.914.650/0001-66,ENERGISA,006582755,04/01/2019,Despesa com pagamento de energia el√©trica do e...,"139,98",2116546
2,2019,1,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,00119,07/01/2019,Despesa com pagamento de aluguel de im√≥vel par...,6000,2113817
3,2019,1,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",05.423.963/0001-11,OI M√ìVEL S.A.,86161151,25/12/2018,Despesa com pagamento de telefonia para o escr...,"316,39",2116541
4,2019,2,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",05.914.650/0001-66,ENERGISA,007236036,04/02/2019,Despesa com pagamento de energia el√©trica para...,"99,45",2116550
5,2019,2,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",05.914.650/0001-66,ENERGISA,007236031,04/02/2019,Despesa com pagamento de energia el√©trica para...,"262,93",2116551
6,2019,2,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,002/19,01/02/2019,Despesa com pagamento de aluguel de im√≥vel par...,6000,2114778
7,2019,2,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",05.423.963/0001-11,OI M√ìVEL S.A.,104901283,25/01/2019,Despesa com pagamento de telefonia para o escr...,"317,36",2116547
8,2019,3,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",05.914.650/0001-66,ENERGISA,007887449,01/03/2019,Pagamento de energia el√©trica para o escrit√≥ri...,"85,5",2116572
9,2019,3,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",05.914.650/0001-66,ENERGISA,007887443,01/03/2019,Despesa com pagamento de energia el√©trica para...,"244,57",2116576

In [212]:
df.tail(10)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
69346,2022,12,ZEQUINHA MARINHO,"Locomo√ß√£o, hospedagem, alimenta√ß√£o, combust√≠ve...",34.307.872/0001-19,J M F COM√âRCIO DE COMBUSTIVEIS LTDA.,21169,04/12/2022,NaN,300,2192248
69347,2022,12,ZEQUINHA MARINHO,"Locomo√ß√£o, hospedagem, alimenta√ß√£o, combust√≠ve...",09.631.455/0001-80,POSTO CAMILA VAREJISTA DE COMBUST√çVEL LTDA. EPP,1446149,02/12/2022,NaN,"352,5",2192242
69348,2022,12,ZEQUINHA MARINHO,"Locomo√ß√£o, hospedagem, alimenta√ß√£o, combust√≠ve...",02.280.133/0042-62,POSTO ICCAR LTDA.,197440,07/12/2022,NaN,"200,03",2192250
69349,2022,12,ZEQUINHA MARINHO,"Locomo√ß√£o, hospedagem, alimenta√ß√£o, combust√≠ve...",28.298.039/0001-56,REDE POSTO POMBAL LTDA.,000221800,09/12/2022,NaN,200,2192249
69350,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,SGKRFM,02/12/2022,"Companhia A√©rea: LATAM, Localizador: SGKRFM. P...","2849,45",2192276
69351,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WIXHAI,06/12/2022,"Companhia A√©rea: LATAM, Localizador: WIXHAI. P...","2893,04",2191398
69352,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WITOLM,09/12/2022,"Companhia A√©rea: GOL, Localizador: WITOLM. Pas...","1180,19",2192272
69353,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,THPKVQ,20/12/2022,"Companhia A√©rea: TAM, Localizador: THPKVQ. Pas...","2671,9",2192274
69354,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,QNN9HX,21/12/2022,"Companhia A√©rea: AZUL, Localizador: QNN9HX. Pa...","1334,31",2192244
69355,2022,12,ZEQUINHA MARINHO,"Passagens a√©reas, aqu√°ticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WMQWBX,30/12/2022,"Companhia A√©rea: TAM, Localizador: WMQWBX. Pas...","2250,72",2193622

In [213]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69356 entries, 0 to 69355
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                69356 non-null  int64
 1   MES                69356 non-null  int64
 2   SENADOR            69356 non-null  object
 3   TIPO_DESPESA       69356 non-null  object
 4   CNPJ_CPF           69356 non-null  object
 5   FORNECEDOR         69356 non-null  object
 6   DOCUMENTO          66393 non-null  object
 7   DATA               69356 non-null  object
 8   DETALHAMENTO       38583 non-null  object
 9   VALOR_REEMBOLSADO  69356 non-null  object
 10  COD_DOCUMENTO      69356 non-null  int64
dtypes: int64(3), object(8)
memory usage: 5.8+ MB

In [214]:
df.describe()

           ANO      MES  COD_DOCUMENTO
count 69356.00 69356.00       69356.00
mean   2020.42     6.59     2153678.35
std       1.16     3.37       22584.83
min    2019.00     1.00     2112846.00
25%    2019.00     4.00     2134379.75
50%    2020.00     7.00     2153704.50
75%    2021.00    10.00     2172934.25
max    2022.00    12.00     2199784.00

In [215]:
df.describe(include='object')

,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
count,69356,69356,69356,69356,66393,69356,38583,69356
unique,153,7,7674,8740,55392,1559,22485,31871
top,CARLOS VIANA,"Locomo√ß√£o, hospedagem, alimenta√ß√£o, combust√≠ve...",16.978.175/0001-08,ADRIA VIAGENS E TURISMO LTDA,S/N,02/12/2019,DESPESA COM COMBUST√çVEL EM VE√çCULOS UTILIZADOS...,100
freq,2136,25518,5217,2171,303,144,1344,1747

In [216]:
print("Colunas do dataset:")
for i, col in enumerate(df.columns, 1):
    print(f"  {i}. {col}")

Colunas do dataset:
  1. ANO
  2. MES
  3. SENADOR
  4. TIPO_DESPESA
  5. CNPJ_CPF
  6. FORNECEDOR
  7. DOCUMENTO
  8. DATA
  9. DETALHAMENTO
  10. VALOR_REEMBOLSADO
  11. COD_DOCUMENTO

In [217]:
# Contagem de valores nulos
nulos = df.isnull().sum()
nulos_percent = (df.isnull().sum() / len(df) * 100).round(2)

# Criar DataFrame para visualiza√ß√£o
diagnostico_nulos = pd.DataFrame({
    'Nulos': nulos,
    'Percentual (%)': nulos_percent
})

print("=" * 50)
print("DIAGN√ìSTICO DE VALORES NULOS")
print("=" * 50)
print(diagnostico_nulos)

==================================================
DIAGN√ìSTICO DE VALORES NULOS
==================================================
                   Nulos  Percentual (%)
ANO                    0            0.00
MES                    0            0.00
SENADOR                0            0.00
TIPO_DESPESA           0            0.00
CNPJ_CPF               0            0.00
FORNECEDOR             0            0.00
DOCUMENTO           2963            4.27
DATA                   0            0.00
DETALHAMENTO       30773           44.37
VALOR_REEMBOLSADO      0            0.00
COD_DOCUMENTO          0            0.00

In [218]:
# Contagem de valores duplicados
duplicados = df.duplicated().sum()
print(f"Total de linhas duplicadas: {duplicados}")
print(f"Percentual: {(duplicados/len(df)*100):.2f}%")

Total de linhas duplicadas: 0
Percentual: 0.00%

In [219]:
# Se houver duplicados, visualizar alguns exemplos
if duplicados > 0:
    print("\nExemplos de linhas duplicadas:")
    display(df[df.duplicated(keep=False)].head(10))

In [220]:
# Analise das Datas
print(f"Tipo atual da coluna DATA: {df['DATA'].dtype}")
print(f"\nExemplos de valores:")
print(df['DATA'].head(10).tolist())

Tipo atual da coluna DATA: object

Exemplos de valores:
['04/01/2019', '04/01/2019', '07/01/2019', '25/12/2018', '04/02/2019', '04/02/2019', '01/02/2019', '25/01/2019', '01/03/2019', '01/03/2019']

In [221]:
# Analise coluna Valor reembolsado
print(f"Tipo atual da coluna VALOR_REEMBOLSADO: {df['VALOR_REEMBOLSADO'].dtype}")
print(f"\nExemplos de valores:")
print(df['VALOR_REEMBOLSADO'].head(10).tolist())

Tipo atual da coluna VALOR_REEMBOLSADO: object

Exemplos de valores:
['66,02', '139,98', '6000', '316,39', '99,45', '262,93', '6000', '317,36', '85,5', '244,57']

In [222]:
# Analise coluna CNPJ/CPF
print(f"Tipo atual: {df['CNPJ_CPF'].dtype}")
print(f"\nExemplos de valores √∫nicos:")
print(df['CNPJ_CPF'].drop_duplicates().head(15).tolist())

Tipo atual: object

Exemplos de valores √∫nicos:
['05.914.650/0001-66', '004.948.028-63', '05.423.963/0001-11', '13.279.434/0001-14', '26.320.603/0001-64', '07.087.027/0001-02', '08.090.916/0001-91', '08.154.750/0001-20', '22.848.444/0001-14', '08.742.048/0001-87', '08.941.827/0001-01', '30.637.754/0001-18', '10.575.238/0001-07', '33.937.681/0001-78', '63.764.211/0001-10']

In [223]:
# Visualiza√ß√£o de dados unicos

In [224]:
print("=" * 50)
print("VALORES √öNICOS POR COLUNA")
print("=" * 50)

for col in df.columns:
    print(f"{col}: {df[col].nunique()} valores √∫nicos")

==================================================
VALORES √öNICOS POR COLUNA
==================================================
ANO: 4 valores √∫nicos
MES: 12 valores √∫nicos
SENADOR: 153 valores √∫nicos
TIPO_DESPESA: 7 valores √∫nicos
CNPJ_CPF: 7674 valores √∫nicos
FORNECEDOR: 8740 valores √∫nicos
DOCUMENTO: 55392 valores √∫nicos
DATA: 1559 valores √∫nicos
DETALHAMENTO: 22485 valores √∫nicos
VALOR_REEMBOLSADO: 31871 valores √∫nicos
COD_DOCUMENTO: 69356 valores √∫nicos

In [225]:
# Tipos de despesa existentes
print("\nTIPOS DE DESPESA:")
print("-" * 50)
for tipo in df['TIPO_DESPESA'].unique():
    print(f"‚Ä¢ {tipo}")

TIPOS DE DESPESA:
--------------------------------------------------
‚Ä¢ Aluguel de im√≥veis para escrit√≥rio pol√≠tico, compreendendo despesas concernentes a eles.
‚Ä¢ Divulga√ß√£o da atividade parlamentar
‚Ä¢ Aquisi√ß√£o de material de consumo para uso no escrit√≥rio pol√≠tico, inclusive aquisi√ß√£o ou loca√ß√£o de software, despesas postais, aquisi√ß√£o de publica√ß√µes, loca√ß√£o de m√≥veis e de equipamentos.
‚Ä¢ Passagens a√©reas, aqu√°ticas e terrestres nacionais
‚Ä¢ Contrata√ß√£o de consultorias, assessorias, pesquisas, trabalhos t√©cnicos e outros servi√ßos de apoio ao exerc√≠cio do mandato parlamentar
‚Ä¢ Locomo√ß√£o, hospedagem, alimenta√ß√£o, combust√≠veis e lubrificantes
‚Ä¢ Servi√ßos de Seguran√ßa Privada

In [226]:
# Quantidade de senadores
print(f"\nTotal de senadores no dataset: {df['SENADOR'].nunique()}")
print("\nLista de senadores:")
for senador in sorted(df['SENADOR'].unique()):
    print(f"‚Ä¢ {senador}")

Total de senadores no dataset: 153

Lista de senadores:
‚Ä¢ ACIR GURGACZ
‚Ä¢ ALESSANDRO VIEIRA
‚Ä¢ ALEXANDRE SILVEIRA
‚Ä¢ ALOYSIO NUNES FERREIRA
‚Ä¢ ALVARO DIAS
‚Ä¢ ANA AM√âLIA
‚Ä¢ ANGELO CORONEL
‚Ä¢ ANTONIO ANASTASIA
‚Ä¢ ANT√îNIO CARLOS VALADARES
‚Ä¢ ARMANDO MONTEIRO
‚Ä¢ AROLDE DE OLIVEIRA
‚Ä¢ ATA√çDES OLIVEIRA
‚Ä¢ A√âCIO NEVES
‚Ä¢ BENEDITO DE LIRA
‚Ä¢ BLAIRO MAGGI
‚Ä¢ CARLOS F√ÅVARO
‚Ä¢ CARLOS PORTINHO
‚Ä¢ CARLOS VIANA
‚Ä¢ CHICO RODRIGUES
‚Ä¢ CHIQUINHO FEITOSA
‚Ä¢ CID GOMES
‚Ä¢ CIRO NOGUEIRA
‚Ä¢ CONF√öCIO MOURA
‚Ä¢ C√ÅSSIO CUNHA LIMA
‚Ä¢ DALIRIO BEBER
‚Ä¢ DANIELLA RIBEIRO
‚Ä¢ DAVI ALCOLUMBRE
‚Ä¢ DIEGO TAVARES
‚Ä¢ DRA. EUD√ìCIA
‚Ä¢ D√ÅRIO BERGER
‚Ä¢ EDISON LOB√ÉO
‚Ä¢ EDUARDO AMORIM
‚Ä¢ EDUARDO BRAGA
‚Ä¢ EDUARDO GIR√ÉO
‚Ä¢ EDUARDO GOMES
‚Ä¢ EDUARDO VELLOSO
‚Ä¢ ELIANE NOGUEIRA
‚Ä¢ ELIZIANE GAMA
‚Ä¢ ELMANO F√âRRER
‚Ä¢ ESPERIDI√ÉO AMIN
‚Ä¢ FABIANO CONTARATO
‚Ä¢ FABIO GARCIA
‚Ä¢ FERNANDO BEZERRA COELHO
‚Ä¢ FERNANDO COLLOR
‚Ä¢ FERNANDO DUEIRE
‚Ä¢ FLEXA RIBEIRO
‚Ä¢ FL√ÅVIO ARNS
‚Ä¢ FL√ÅVIO BOLSONARO
‚Ä¢ GARIBALDI ALVES FILHO
‚Ä¢ GIORDANO
‚Ä¢ GLEISI HOFFMANN
‚Ä¢ GUARACY SILVEIRA
‚Ä¢ HUMBERTO COSTA
‚Ä¢ H√âLIO JOS√â
‚Ä¢ IRAJ√Å
‚Ä¢ IVETE DA SILVEIRA
‚Ä¢ IVO CASSOL
‚Ä¢ IZALCI LUCAS
‚Ä¢ JADER BARBALHO
‚Ä¢ JAQUES WAGNER
‚Ä¢ JARBAS VASCONCELOS
‚Ä¢ JAYME CAMPOS
‚Ä¢ JEAN PAUL PRATES
‚Ä¢ JORGE VIANA
‚Ä¢ JORGINHO MELLO
‚Ä¢ JOS√â AGRIPINO
‚Ä¢ JOS√â AN√çBAL
‚Ä¢ JOS√â MARANH√ÉO
‚Ä¢ JOS√â MEDEIROS
‚Ä¢ JOS√â PIMENTEL
‚Ä¢ JOS√â SERRA
‚Ä¢ JO√ÉO ALBERTO SOUZA
‚Ä¢ JO√ÉO CAPIBERIBE
‚Ä¢ JULIO VENTURA
‚Ä¢ JU√çZA SELMA
‚Ä¢ K√ÅTIA ABREU
‚Ä¢ LASIER MARTINS
‚Ä¢ LEILA BARROS
‚Ä¢ LINDBERGH FARIAS
‚Ä¢ LUCAS BARRETO
‚Ä¢ LUIS CARLOS HEINZE
‚Ä¢ LUIZ CARLOS DO CARMO
‚Ä¢ LUIZ PASTORE
‚Ä¢ L√çDICE DA MATA
‚Ä¢ L√öCIA V√ÇNIA
‚Ä¢ MAGNO MALTA
‚Ä¢ MAILZA GOMES
‚Ä¢ MAJOR OLIMPIO
‚Ä¢ MARA GABRILLI
‚Ä¢ MARCELO CASTRO
‚Ä¢ MARCIO BITTAR
‚Ä¢ MARCOS DO VAL
‚Ä¢ MARCOS ROG√âRIO
‚Ä¢ MARGARETH BUZETTI
‚Ä¢ MARIA DAS VIT√ìRIAS
‚Ä¢ MARIA DO CARMO ALVES
‚Ä¢ MARIA ELIZA DE AGUIAR E SILVA
‚Ä¢ MARTA SUPLICY
‚Ä¢ MECIAS DE JESUS
‚Ä¢ NAILDE PANTA
‚Ä¢ NELSINHO TRAD
‚Ä¢ NEY SUASSUNA
‚Ä¢ NILDA GONDIM
‚Ä¢ OGARI PACHECO
‚Ä¢ OMAR AZIZ
‚Ä¢ ORIOVISTO GUIMAR√ÉES
‚Ä¢ OTTO ALENCAR
‚Ä¢ PAULO ALBUQUERQUE
‚Ä¢ PAULO BAUER
‚Ä¢ PAULO PAIM
‚Ä¢ PAULO ROCHA
‚Ä¢ PEDRO CHAVES DOS SANTOS FILHO
‚Ä¢ PL√çNIO VAL√âRIO
‚Ä¢ PRISCO BEZERRA
‚Ä¢ RAFAEL TEN√ìRIO
‚Ä¢ RAIMUNDO LIRA
‚Ä¢ RANDOLFE RODRIGUES
‚Ä¢ RENAN CALHEIROS
‚Ä¢ RENILDE BULH√ïES
‚Ä¢ RICARDO FERRA√áO
‚Ä¢ ROBERTH BRINGEL
‚Ä¢ ROBERTO REQUI√ÉO
‚Ä¢ ROBERTO ROCHA
‚Ä¢ RODRIGO CUNHA
‚Ä¢ RODRIGO PACHECO
‚Ä¢ ROG√âRIO CARVALHO
‚Ä¢ ROMERO JUC√Å
‚Ä¢ ROM√ÅRIO
‚Ä¢ ROSE DE FREITAS
‚Ä¢ SAMUEL ARAUJO
‚Ä¢ SIMONE TEBET
‚Ä¢ SIQUEIRA CAMPOS
‚Ä¢ SORAYA THRONICKE
‚Ä¢ STYVENSON VALENTIM
‚Ä¢ S√âRGIO PETEC√ÉO
‚Ä¢ TASSO JEREISSATI
‚Ä¢ TELM√ÅRIO MOTA
‚Ä¢ VALDIR RAUPP
‚Ä¢ VANDERLAN CARDOSO
‚Ä¢ VANESSA GRAZZIOTIN
‚Ä¢ VENEZIANO VITAL DO R√äGO
‚Ä¢ VICENTINHO ALVES
‚Ä¢ VIRGINIO DE CARVALHO
‚Ä¢ WALDEMIR MOKA
‚Ä¢ WALTER PINHEIRO
‚Ä¢ WELLINGTON FAGUNDES
‚Ä¢ WEVERTON ROCHA
‚Ä¢ WILDER MORAIS
‚Ä¢ ZENAIDE MAIA
‚Ä¢ ZEQUINHA MARINHO
‚Ä¢ ZEZ√â PERRELLA
‚Ä¢ Z√â SANTANA
‚Ä¢ √ÇNGELA PORTELA

In [227]:
#Limpeza e Transforma√ß√£o

#Criar copia do dataframe para n√£o alterar coisas = BOA PRATICA

In [228]:
df_clean = df.copy()
print("‚úÖ C√≥pia criada: df_clean")

‚úÖ C√≥pia criada: df_clean

In [229]:
# Converter valor para num√©rico coluna VALOR REEMBOLSADO

df_clean['VALOR_REEMBOLSADO'] = (
    df_clean['VALOR_REEMBOLSADO']
    .str.replace(',', '.')  # Trocar v√≠rgula por ponto
    .astype(float)          # Converter para float
)

print(f"Tipo ap√≥s convers√£o: {df_clean['VALOR_REEMBOLSADO'].dtype}")
print(f"\nEstat√≠sticas do VALOR_REEMBOLSADO:")
print(df_clean['VALOR_REEMBOLSADO'].describe())

Tipo ap√≥s convers√£o: float64

Estat√≠sticas do VALOR_REEMBOLSADO:
count    69356.00
mean      1413.10
std       3097.68
min          0.01
25%        158.20
50%        426.69
75%       1570.43
max     120000.00
Name: VALOR_REEMBOLSADO, dtype: float64

In [230]:
# Converter para datetime coluna DATA
df_clean['DATA'] = pd.to_datetime(
    df_clean['DATA'], 
    format='%d/%m/%Y',
    errors='coerce'  # Valores inv√°lidos viram NaT (Not a Time)
)

print(f"Tipo ap√≥s convers√£o: {df_clean['DATA'].dtype}")
print(f"\nData mais antiga: {df_clean['DATA'].min()}")
print(f"Data mais recente: {df_clean['DATA'].max()}")

Tipo ap√≥s convers√£o: datetime64[ns]

Data mais antiga: 2000-12-08 00:00:00
Data mais recente: 2023-12-23 00:00:00

In [231]:
# Verificar se houve erros na convers√£o (NaT)
datas_invalidas = df_clean['DATA'].isna().sum()
print(f"Datas que n√£o puderam ser convertidas: {datas_invalidas}")

Datas que n√£o puderam ser convertidas: 3

In [232]:
# Extrair componentes da data
df_clean['DIA'] = df_clean['DATA'].dt.day
df_clean['MES_NOME'] = df_clean['DATA'].dt.month_name()
df_clean['DIA_SEMANA'] = df_clean['DATA'].dt.day_name()
df_clean['TRIMESTRE'] = df_clean['DATA'].dt.quarter

print("‚úÖ Colunas auxiliares criadas: DIA, MES_NOME, DIA_SEMANA, TRIMESTRE")
df_clean[['DATA', 'DIA', 'MES_NOME', 'DIA_SEMANA', 'TRIMESTRE']].head()

‚úÖ Colunas auxiliares criadas: DIA, MES_NOME, DIA_SEMANA, TRIMESTRE

        DATA   DIA  MES_NOME DIA_SEMANA  TRIMESTRE
0 2019-01-04  4.00   January     Friday       1.00
1 2019-01-04  4.00   January     Friday       1.00
2 2019-01-07  7.00   January     Monday       1.00
3 2018-12-25 25.00  December    Tuesday       4.00
4 2019-02-04  4.00  February     Monday       1.00

In [233]:
# Fun√ß√£o para limpar CNPJ/CPF (manter apenas n√∫meros)
def limpar_documento(doc):
    if pd.isna(doc):
        return None
    return re.sub(r'\D', '', str(doc))  # Remove tudo que n√£o √© d√≠gito

# Fun√ß√£o para formatar CNPJ/CPF
def formatar_documento(doc):
    if pd.isna(doc) or doc == '':
        return None
    
    doc_limpo = re.sub(r'\D', '', str(doc))
    
    if len(doc_limpo) == 11:  # CPF
        return f"{doc_limpo[:3]}.{doc_limpo[3:6]}.{doc_limpo[6:9]}-{doc_limpo[9:]}"
    elif len(doc_limpo) == 14:  # CNPJ
        return f"{doc_limpo[:2]}.{doc_limpo[2:5]}.{doc_limpo[5:8]}/{doc_limpo[8:12]}-{doc_limpo[12:]}"
    else:
        return doc_limpo  # Retorna como est√° se n√£o for CPF nem CNPJ v√°lido

# Aplicar fun√ß√µes
df_clean['CNPJ_CPF_LIMPO'] = df_clean['CNPJ_CPF'].apply(limpar_documento)
df_clean['CNPJ_CPF_FORMATADO'] = df_clean['CNPJ_CPF'].apply(formatar_documento)

print("‚úÖ Colunas criadas: CNPJ_CPF_LIMPO e CNPJ_CPF_FORMATADO")
df_clean[['CNPJ_CPF', 'CNPJ_CPF_LIMPO', 'CNPJ_CPF_FORMATADO']].head(10)

‚úÖ Colunas criadas: CNPJ_CPF_LIMPO e CNPJ_CPF_FORMATADO

             CNPJ_CPF  CNPJ_CPF_LIMPO  CNPJ_CPF_FORMATADO
0  05.914.650/0001-66  05914650000166  05.914.650/0001-66
1  05.914.650/0001-66  05914650000166  05.914.650/0001-66
2      004.948.028-63     00494802863      004.948.028-63
3  05.423.963/0001-11  05423963000111  05.423.963/0001-11
4  05.914.650/0001-66  05914650000166  05.914.650/0001-66
5  05.914.650/0001-66  05914650000166  05.914.650/0001-66
6      004.948.028-63     00494802863      004.948.028-63
7  05.423.963/0001-11  05423963000111  05.423.963/0001-11
8  05.914.650/0001-66  05914650000166  05.914.650/0001-66
9  05.914.650/0001-66  05914650000166  05.914.650/0001-66

In [234]:
# Criar coluna identificando se √© CPF ou CNPJ
def tipo_documento(doc_limpo):
    if pd.isna(doc_limpo):
        return None
    if len(str(doc_limpo)) == 11:
        return 'CPF'
    elif len(str(doc_limpo)) == 14:
        return 'CNPJ'
    else:
        return 'INVALIDO'

df_clean['TIPO_DOCUMENTO'] = df_clean['CNPJ_CPF_LIMPO'].apply(tipo_documento)

print("Distribui√ß√£o por tipo de documento:")
print(df_clean['TIPO_DOCUMENTO'].value_counts())

Distribui√ß√£o por tipo de documento:
TIPO_DOCUMENTO
CNPJ    67747
CPF      1609
Name: count, dtype: int64

In [235]:
# Tratar valores nulos na Coluna DETALHAMENTO

In [236]:
# Verificar nulos em DETALHAMENTO
nulos_detalhamento = df_clean['DETALHAMENTO'].isna().sum()
vazios_detalhamento = (df_clean['DETALHAMENTO'] == '').sum()

print(f"Valores nulos em DETALHAMENTO: {nulos_detalhamento}")
print(f"Valores vazios em DETALHAMENTO: {vazios_detalhamento}")

Valores nulos em DETALHAMENTO: 30773
Valores vazios em DETALHAMENTO: 0

In [237]:
# Substituir vazios e nulos por 'N√£o informado'
df_clean['DETALHAMENTO'] = df_clean['DETALHAMENTO'].replace('', np.nan)
df_clean['DETALHAMENTO'] = df_clean['DETALHAMENTO'].fillna('N√£o informado')

print("‚úÖ Valores vazios/nulos substitu√≠dos por 'N√£o informado'")

‚úÖ Valores vazios/nulos substitu√≠dos por 'N√£o informado'

In [238]:
#Limpar e padronizar nome dos fornecedores

In [239]:
# Remover espa√ßos extras e padronizar mai√∫sculas
df_clean['FORNECEDOR'] = (
    df_clean['FORNECEDOR']
    .str.strip()           # Remove espa√ßos in√≠cio/fim
    .str.upper()           # Tudo mai√∫sculo
    .str.replace(r'\s+', ' ', regex=True)  # M√∫ltiplos espa√ßos ‚Üí um espa√ßo
)

print("‚úÖ Nomes de fornecedores padronizados")

‚úÖ Nomes de fornecedores padronizados

In [240]:
#Padronizar nomes dos senadores

In [241]:
# Verificar se h√° inconsist√™ncias nos nomes
df_clean['SENADOR'] = (
    df_clean['SENADOR']
    .str.strip()
    .str.upper()
    .str.replace(r'\s+', ' ', regex=True)
)

print(f"Total de senadores ap√≥s padroniza√ß√£o: {df_clean['SENADOR'].nunique()}")

Total de senadores ap√≥s padroniza√ß√£o: 153

In [242]:
#Remover duplicados

In [243]:
duplicados_antes = df_clean.duplicated().sum()
print(f"Duplicados antes: {duplicados_antes}")

if duplicados_antes > 0:
    df_clean = df_clean.drop_duplicates()
    print(f"‚úÖ {duplicados_antes} duplicados removidos")
else:
    print("‚úÖ Nenhum duplicado encontrado")

Duplicados antes: 0
‚úÖ Nenhum duplicado encontrado

In [244]:
#Converter colunas ANO E MES para inteiro

In [245]:
df_clean['ANO'] = df_clean['ANO'].astype(int)
df_clean['MES'] = df_clean['MES'].astype(int)

print(f"Tipo ANO: {df_clean['ANO'].dtype}")
print(f"Tipo MES: {df_clean['MES'].dtype}")

Tipo ANO: int64
Tipo MES: int64

In [246]:
#VALIDA√á√ÉO E EXPORTA√á√ÉO

In [247]:
print("=" * 60)
print("RESUMO DO DATASET LIMPO")
print("=" * 60)
print(f"\nLinhas: {df_clean.shape[0]:,}")
print(f"Colunas: {df_clean.shape[1]}")
print(f"\nColunas:")
df_clean.info()

============================================================
RESUMO DO DATASET LIMPO
============================================================

Linhas: 69,356
Colunas: 18

Colunas:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69356 entries, 0 to 69355
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ANO                 69356 non-null  int64
 1   MES                 69356 non-null  int64
 2   SENADOR             69356 non-null  object
 3   TIPO_DESPESA        69356 non-null  object
 4   CNPJ_CPF            69356 non-null  object
 5   FORNECEDOR          69356 non-null  object
 6   DOCUMENTO           66393 non-null  object
 7   DATA                69353 non-null  datetime64[ns]
 8   DETALHAMENTO        69356 non-null  object
 9   VALOR_REEMBOLSADO   69356 non-null  float64
 10  COD_DOCUMENTO       69356 non-null  int64
 11  DIA                 69353 non-null  float64
 12  MES_NOME            69353 non-null  object
 13  DIA_SEMANA          69353 non-null  object
 14  TRIMESTRE           69353 non-null  float64
 15  CNPJ_CPF_LIMPO      69356 non-null  object
 16  CNPJ_CPF_FORMATADO  69356 non-null  object
 17  TIPO_DOCUMENTO      69356 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(3), object(11)
memory usage: 9.5+ MB

In [248]:
#Para visualizar todas as colunas do Data Frame em quest√£o
df_clean.info(show_counts=True, verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69356 entries, 0 to 69355
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ANO                 69356 non-null  int64
 1   MES                 69356 non-null  int64
 2   SENADOR             69356 non-null  object
 3   TIPO_DESPESA        69356 non-null  object
 4   CNPJ_CPF            69356 non-null  object
 5   FORNECEDOR          69356 non-null  object
 6   DOCUMENTO           66393 non-null  object
 7   DATA                69353 non-null  datetime64[ns]
 8   DETALHAMENTO        69356 non-null  object
 9   VALOR_REEMBOLSADO   69356 non-null  float64
 10  COD_DOCUMENTO       69356 non-null  int64
 11  DIA                 69353 non-null  float64
 12  MES_NOME            69353 non-null  object
 13  DIA_SEMANA          69353 non-null  object
 14  TRIMESTRE           69353 non-null  float64
 15  CNPJ_CPF_LIMPO      69356 non-null  object
 16  CNPJ_CPF_FORMATADO  69356 non-null  object
 17  TIPO_DOCUMENTO      69356 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(3), object(11)
memory usage: 9.5+ MB

In [249]:
# Verificar nulos restantes
print("\nValores nulos restantes:")
print(df_clean.isnull().sum())

Valores nulos restantes:
ANO                      0
MES                      0
SENADOR                  0
TIPO_DESPESA             0
CNPJ_CPF                 0
FORNECEDOR               0
DOCUMENTO             2963
DATA                     3
DETALHAMENTO             0
VALOR_REEMBOLSADO        0
COD_DOCUMENTO            0
DIA                      3
MES_NOME                 3
DIA_SEMANA               3
TRIMESTRE                3
CNPJ_CPF_LIMPO           0
CNPJ_CPF_FORMATADO       0
TIPO_DOCUMENTO           0
dtype: int64

In [250]:
# Amostra do dataset limpo
df_clean.head(10)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO,DIA,MES_NOME,DIA_SEMANA,TRIMESTRE,CNPJ_CPF_LIMPO,CNPJ_CPF_FORMATADO,TIPO_DOCUMENTO
0,2019,1,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",05.914.650/0001-66,ENERGISA,006582758,2019-01-04,Despesa com pagamento de energia el√©trica do e...,66.02,2116543,4.00,January,Friday,1.00,05914650000166,05.914.650/0001-66,CNPJ
1,2019,1,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",05.914.650/0001-66,ENERGISA,006582755,2019-01-04,Despesa com pagamento de energia el√©trica do e...,139.98,2116546,4.00,January,Friday,1.00,05914650000166,05.914.650/0001-66,CNPJ
2,2019,1,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,00119,2019-01-07,Despesa com pagamento de aluguel de im√≥vel par...,6000.00,2113817,7.00,January,Monday,1.00,00494802863,004.948.028-63,CPF
3,2019,1,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",05.423.963/0001-11,OI M√ìVEL S.A.,86161151,2018-12-25,Despesa com pagamento de telefonia para o escr...,316.39,2116541,25.00,December,Tuesday,4.00,05423963000111,05.423.963/0001-11,CNPJ
4,2019,2,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",05.914.650/0001-66,ENERGISA,007236036,2019-02-04,Despesa com pagamento de energia el√©trica para...,99.45,2116550,4.00,February,Monday,1.00,05914650000166,05.914.650/0001-66,CNPJ
5,2019,2,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",05.914.650/0001-66,ENERGISA,007236031,2019-02-04,Despesa com pagamento de energia el√©trica para...,262.93,2116551,4.00,February,Monday,1.00,05914650000166,05.914.650/0001-66,CNPJ
6,2019,2,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,002/19,2019-02-01,Despesa com pagamento de aluguel de im√≥vel par...,6000.00,2114778,1.00,February,Friday,1.00,00494802863,004.948.028-63,CPF
7,2019,2,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",05.423.963/0001-11,OI M√ìVEL S.A.,104901283,2019-01-25,Despesa com pagamento de telefonia para o escr...,317.36,2116547,25.00,January,Friday,1.00,05423963000111,05.423.963/0001-11,CNPJ
8,2019,3,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",05.914.650/0001-66,ENERGISA,007887449,2019-03-01,Pagamento de energia el√©trica para o escrit√≥ri...,85.50,2116572,1.00,March,Friday,1.00,05914650000166,05.914.650/0001-66,CNPJ
9,2019,3,ACIR GURGACZ,"Aluguel de im√≥veis para escrit√≥rio pol√≠tico, c...",05.914.650/0001-66,ENERGISA,007887443,2019-03-01,Despesa com pagamento de energia el√©trica para...,244.57,2116576,1.00,March,Friday,1.00,05914650000166,05.914.650/0001-66,CNPJ

In [251]:
#Estatisticas do Dataset

In [252]:
print("=" * 60)
print("ESTAT√çSTICAS DO VALOR_REEMBOLSADO")
print("=" * 60)
print(f"\nTotal gasto em 2022: R$ {df_clean['VALOR_REEMBOLSADO'].sum():,.2f}")
print(f"M√©dia por despesa: R$ {df_clean['VALOR_REEMBOLSADO'].mean():,.2f}")
print(f"Mediana: R$ {df_clean['VALOR_REEMBOLSADO'].median():,.2f}")
print(f"Menor valor: R$ {df_clean['VALOR_REEMBOLSADO'].min():,.2f}")
print(f"Maior valor: R$ {df_clean['VALOR_REEMBOLSADO'].max():,.2f}")

============================================================
ESTAT√çSTICAS DO VALOR_REEMBOLSADO
============================================================

Total gasto em 2022: R$ 98,006,806.17
M√©dia por despesa: R$ 1,413.10
Mediana: R$ 426.69
Menor valor: R$ 0.01
Maior valor: R$ 120,000.00

In [253]:
# Top 10 senadores que mais gastaram
print("\nTop 10 senadores que mais gastaram em 2022:")
print("-" * 50)
top_10 = df_clean.groupby('SENADOR')['VALOR_REEMBOLSADO'].sum().sort_values(ascending=False).head(10)
for i, (senador, valor) in enumerate(top_10.items(), 1):
    print(f"{i:2}. {senador}: R$ {valor:,.2f}")

Top 10 senadores que mais gastaram em 2022:
--------------------------------------------------
 1. TELM√ÅRIO MOTA: R$ 1,951,401.21
 2. ROG√âRIO CARVALHO: R$ 1,936,315.87
 3. MECIAS DE JESUS: R$ 1,913,241.64
 4. PAULO ROCHA: R$ 1,885,315.28
 5. MAILZA GOMES: R$ 1,793,120.58
 6. ROBERTO ROCHA: R$ 1,727,057.62
 7. ELIZIANE GAMA: R$ 1,700,344.09
 8. ZEQUINHA MARINHO: R$ 1,698,140.72
 9. EDUARDO BRAGA: R$ 1,683,525.68
10. WELLINGTON FAGUNDES: R$ 1,671,934.35

In [254]:
# Gastos por tipo de despesa
print("\nGastos por tipo de despesa:")
print("-" * 50)
gastos_tipo = df_clean.groupby('TIPO_DESPESA')['VALOR_REEMBOLSADO'].sum().sort_values(ascending=False)
for tipo, valor in gastos_tipo.items():
    print(f"R$ {valor:>15,.2f} | {tipo[:100]}")

Gastos por tipo de despesa:
--------------------------------------------------
R$   24,380,469.78 | Contrata√ß√£o de consultorias, assessorias, pesquisas, trabalhos t√©cnicos e outros servi√ßos de apoio a
R$   22,872,261.66 | Passagens a√©reas, aqu√°ticas e terrestres nacionais
R$   17,782,513.78 | Locomo√ß√£o, hospedagem, alimenta√ß√£o, combust√≠veis e lubrificantes
R$   16,139,613.44 | Aluguel de im√≥veis para escrit√≥rio pol√≠tico, compreendendo despesas concernentes a eles.
R$   12,919,144.00 | Divulga√ß√£o da atividade parlamentar
R$    3,774,685.29 | Aquisi√ß√£o de material de consumo para uso no escrit√≥rio pol√≠tico, inclusive aquisi√ß√£o ou loca√ß√£o de
R$      138,118.22 | Servi√ßos de Seguran√ßa Privada

In [255]:
#Exportar Dataset

In [256]:
# Exportar para CSV
df_clean.to_csv('ceaps_4anos_limpo.csv', index=False, encoding='utf-8-sig')
print("‚úÖ Dataset exportado: ceaps_4anos_limpo.csv")

‚úÖ Dataset exportado: ceaps_4anos_limpo.csv